body {
    background-color: gray;
}

/*-----------------------------------GENERAL*/
.section-container {
    min-height: 100vh;
    border-bottom: 1px solid gray;
}

.content-box {
    padding: 100px;
}

.section-heading {
    text-align: center;
    padding: 30px;
}

.section-heading hr {
    width: 50px;
    height: 5px;
    margin: auto;
    border-radius: 5px;
}
/*-----------------------------------NAVBAR*/
.navbar-collapse {
    margin-left: 4em;
}

@media (max-width:425px) {
    .navbar-collapse {
        margin-left: 1em;
    }
}

.navbar-nav li {
    padding-right: 4em;
}
/*-----------------------------------ABOUT*/
#about i {
    font-size: 5em;
}

.skill-box {
    text-align: center;
    margin: 50px 0; 
}

.about-text {
    margin-top: 30px;
}

.about-text > p{
    margin: 0;
}

/*-----------------------------------PROJECTS*/
.img-box {
    margin-top: 20px;
}
.btn-more{
    margin-top: 20px 0;
}
/*-----------------------------------CONTACT*/

.form-container {
    padding: 10px;
    margin-bottom: 20px;
}

.form-contact input{
    margin-bottom: 20px;
}

.btn-contact {
    display: block;
    margin: 30px auto 0;

}

/*-----------------------------------Footer*/
.footer {
    padding-top: 10px;
    color: white;
    background-color: black;
}

.footer-content i {
    font-size: 1.5em;
    color: white;
}

.copyright {
    font-size: 0.8em;
    right: 20px;
    padding-top: 20px;
}

.copyright-small {
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 5px;
}
